* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid black;
    background: white;
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.Background_Title {
    background-color: black;   /* Чорний фон для прямокутника */
    color: white;              /* Білий колір тексту */
    padding: 10px 30px;        /* Відступи всередині прямокутника */
    border-radius: 50px;       /* Заокруглені кути */          
    font-weight: bold;         /* Жирний шрифт */
}

.nav-links {
    display: flex;
    gap: 15px;
    background: #136BCE; 
    border-radius: 50px;
    padding: 10px 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 5px 10px;
}
.nav-links h2 {
    display: none;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        border-radius: 10px;
        border: 2px solid black;
        background: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        width: 90%;
        height: 260px;

    }
    .nav-links a {
        text-align: center;
        padding: 15px;
        margin: 10px 10;
        background: #136BCE;
        color: white;
        border-radius: 50px;
    }

    .nav-links h2 {
       display: block;
    }

    .burger {
        display: flex;
    }
}
.content {
    padding-top: 70px;
    text-align: center;
}
section {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1000px;
}

.floating-buttons_Location {
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;

    background: white; 
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.floating-buttons_Properties {

   background: none;
   border: none;

}

.floating-buttons_Icons {
    cursor: pointer;
    all: unset;
    width: 40px;
    height: 40px;
}

.Icons {

    float: right;
    width: 40px;
    height: 40px;
}

